@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scroll-behavior: smooth;
}

body {

}

@keyframes colorChange {
  0% { color: white; }
  25% { color: blue; }
  50% { color: red; }
  75% { color: green; }
  100% { color: white; }
}

.color-changing {
  animation: colorChange 5s infinite; /* 5s duration, infinite loop */
}
